<template>
    <div class="form-group">
        <span id="login2">
            <h3 style="color:darkgray;">please log in</h3>
            <input class="form-control-static" type="text" placeholder="username" v-model="username"> user name
            <br>
            <br>
            <input class="form-control-static" type="text" placeholder="password" v-model="password"> password
            <br>
            <br>
            <button @click="login" class="form-control-static btn btn-lg btn-primary">log in</button>
        </span>
    </div>
</template>

<script>
import Access from '../../modules/access';
export default {
    data() {
        return {
            username: "tom",
            password: "pwdtom"
        }
    },
    methods: {
        login() {
            if (this.username && this.password) {
                Access.login(this.username, this.password)
                    .then(result => {
                        //console.log(result);
                        if (result.authenticated) {
                            this.$emit('loggedIn', Access);
                        }
                    })
            }
        }
    }
}
</script>

