<template>
    <!-- Contacts Display Area -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 ">
                <h2>Contact List</h2>
                <ul class="list-group contact-list">
                    <li class="list-group-item hover" v-for="(c,i) in contacts" :key="i" @click="onContactClick(i)" style="cursor:pointer;">
                        {{`${c.name.first} ${c.name.last}`}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            // contacts: [
            //     "Tom", "Wendy", "Sun"
            // ] 
        };
    },
    props: [
        'contacts'
    ],
    methods: {
        onContactClick(index) {
            console.log('contact clicked, id: ' + index);
            this.$emit('contactClicked', this.contacts[index]); // pass the selected contact back up to parent (Home)
        }
    }
}
</script>

<style>
li.hover:hover {
    background-color: darkgray;
    color: white;
    font-weight: bold;
}
</style>
