<template>
    <!-- Contacts Display Area -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 ">
                <ul class="list-group contact-list">
                    <li v-for="(c,i) in contacts" :key="i">
                        {{`${c.name.first} ${c.name.last}`}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            // contacts: [
            //     "Tom", "Wendy", "Sun"
            // ] 
        };
    },
    props: [
        'contacts'
    ]
}
</script>