<div class="form-group">
<span id="login2"><h3>Login</h3>
<input id="username" class="form-control-static" type="text" placeholder="username" value="tom" > user name
<br><br>
<input id="password" class="form-control-static" type="text" placeholder="password" value="pwdtom"> password
<br><br>
<button id="btnLogin" class="form-control-static">log in</button></span>
<button id="btnLogout" class="form-control-static">log out</button>
</div>