<template>
    <div>
        <h1>Home Page</h1>
        <p>Some really cool home page things for everybody to see.</p>
        <br>
        <br>
        <!-- Contact Load Button -->
        <!--<button type="button" class="btn btn-lg btn-primary" @click="loadContacts">Load Contacts</button>
        <hr>
        <contact-list v-if="showContacts" :contacts="contacts" @contactClicked="updateContactDetail"></contact-list>
        <contact-modal :contactDetail="selectedContact"></contact-modal>-->
    </div>
</template>

<script>
// import ContactList from '../contact-list/ContactList.vue';
// import ContactModal from '../contact-modal/ContactModal.vue';
// import Data from '../module_data';
export default {
    components: {
        // ContactList,
        // ContactModal
    },
    data: () => ({
        // showContacts: false,
        // contacts: [],
        // selectedContact: null
    }),
    methods: {
        // loadContacts() {
        //     console.log('loadContacts!');
        //     Data.getContactData()
        //         .then(response => {
        //             console.log(response, this);
        //             this.contacts = response.results;
        //         });
        //     this.showContacts = true;
        // },
        // updateContactDetail(contact) {
        //     console.log('updateContactDetail: ', contact);
        //     this.selectedContact = contact;
        //     $('#detailModal').modal('show');
        // }
    }
}
</script>
