<h1>Home Page</h1>
<p>Some really cool home page things for everybody to see.</p>

<!-- Modal -->
<!--<div style="display: none;">-->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Contact Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="col-md-8 col-sm-6 contact-detail">
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
<!-- Contact Load Button -->
<button type="button" class="btn btn-lg btn-primary" id="btn-contacts">Load Contact</button>

<hr>

<!-- Contacts Display Area -->
<div class="member-info">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 ">
                <ul class="list-group contact-list">
                </ul>
            </div>
        </div>
    </div>
</div>