<template>
  <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                            aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/" home>Our Important Application</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                           <router-link to="/" tag="li" active-class="active" exact><a>Home</a></router-link>
                           <router-link to="/user" tag="li" active-class="active"><a>User</a></router-link>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</template>
