<template>
    <div class="container-fluid" v-show="bootstrapLoaded">
        <main-menu></main-menu>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <transition name="fade" mode="out-in">
                    <router-view></router-view>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
import MainMenu from './modules/menu-bar/MainMenu.vue';

export default {
    data() {
        return { bootstrapLoaded: false }
    },
    components: {
        mainMenu: MainMenu
    },
    mounted(){
        console.log('App component mounted!');
        setTimeout(()=>this.bootstrapLoaded=true,50);
    }
}
</script>

<style>

</style>
