<template>
    <div>
        <h1>Member Area</h1>
        <transition name="fade" mode="out-in">
            <div v-if="!loggedIn" key="logged-out">
                Only logged in members get to see the cool stuff in this area!
                <hr>
                <login-form @loggedIn="showMemberStuff"></login-form>
            </div>
            <div v-else key="logged-in">
                Logged in as
                <b>{{ currentUser ? currentUser.name : "unknown" }}</b>. You get to see this stuff.
                <br>
                <br>
                <!-- Contact Load Button -->
                <button class="btn btn-lg btn-primary" @click="loadContacts">Load Contacts</button>
                <button @click="hideMemberStuff" class="form-control-static btn btn-lg btn-primary">log out</button>
                <hr>
                <transition name="fade" mode="out-in">
                    <contact-list v-if="showContacts" :contacts="contacts" @contactClicked="updateContactDetail"></contact-list>
                </transition>
                <contact-modal :contactDetail="selectedContact"></contact-modal>
            </div>
        </transition>
    </div>
</template>

<script>
import ContactList from '../contact-list/ContactList.vue';
import ContactModal from '../contact-modal/ContactModal.vue';
import LoginForm from '../login-form/LoginForm.vue';
import Data from '../../modules/module_data';
export default {
    components: {
        ContactList,
        ContactModal,
        LoginForm
    },
    data: () => ({
        loggedIn: false,
        showContacts: false,
        contacts: [],
        selectedContact: null,
        currentUser: null
    }),
    methods: {
        loadContacts() {
            console.log('loadContacts!');
            Data.getContactData()
                .then(response => {
                    console.log(response, this);
                    this.contacts = response.results;
                });
            this.showContacts = true;
        },
        updateContactDetail(contact) {
            console.log('updateContactDetail: ', contact);
            this.selectedContact = contact;
            $('#detailModal').modal('show');
        },
        showMemberStuff(Access) {
            console.log('showMemberStuff...', Access);
            this.loggedIn = true;
            this.currentUser = Access.currentUser;
        },
        hideMemberStuff() {
            console.log('showMemberStuff...');
            this.loggedIn = false;
            this.showContacts = false;
        }
    }
}
</script>

<style>

</style>

